@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 30px;
    }
    .h1-header{
        font-size: 45px;
        max-width: 480px;
    }
}

@media (max-width: 991px){
    .container{
        max-width: 991px;
    }
    .header-bg{
        left: -323px;
    }
    .header-right img:first-child{
        position: relative;
        left: -120px;
    }
   
    .icon-item{
        flex-direction: column;
    }
    .icon-item::after{
        display: none;
    }
    /* seo-agency-brand */
   
    .seo-agency-brand{
        /* max-width: 990px; */
        grid-template-columns: repeat(4, 174px);
    }
}

@media (max-width: 768px){
   
    .menu {
        position: fixed;
        left: -100%;
        top: 0;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        /* visibility: hidden; */
        background: rgba(0, 0, 0, .7);
        transition: all 1s;
        z-index: 3;
    }
    .menu_active{
        left: 0;
        z-index: 100;
    }
    .btnPrimary{
        padding: 0 20px;
    }
  
    .link a{
        display: block;
        font-size: 26px;
        margin-top: 25px;
    }
    .hamburger{
        display: block;
       
    }
    .hamurger_span {
        display: block;
        width: 39px;
        height: 4px;
        margin-bottom: 8px;
        row-gap: 10px;
        background-color: white;
    }
    .btn-head{
        margin-right: 100px;
    }
    .header-block{
        padding-top: 100px;
    }
    .header-left{
        z-index: 2;
    }
    .header-right img:first-child {
        left: -315px;
        top: 27px;
        z-index: 1;
    }
    .header-right img:last-child{
        display: none;
    }
    
    
    .icon-item h4 {
        max-width: 200px;
    }
    /* seo */
    .seo-certificate{
        grid-template-columns: repeat(1, 227px );
        margin-bottom: 20px;
    }
    .createx-right {
        margin-top: 50px;
    }
    .seo-agency-brand {
        /* max-width: 990px; */
        grid-template-columns: repeat(3, 174px);
    }
    .btnCreatex{
        margin-bottom: 80px;
    }
    .h2-createx {
        color: var(--gray-900, #1E212C);
        font-size: 41px;
    }
    .createx_wrapper {
        width: 578px;
        justify-content: space-between;
        
    }
    
    
    
   
}

@media (max-width: 578px){
    .icon-item{
        align-items: start;
    }
    .seo-agency_wrapper{
        flex-direction: column;
    }
    .seo-certificate{
        grid-template-columns: repeat(2, 227px);
    }
    .seo-agency-brand{
        grid-template-columns: repeat(3, 174px);
        gap: 10px;
    }
    .createx-svg{
        max-width: 570px;
    }
    .createx_wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .figures {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 148px);
        gap: 48px;
    }
    .createx-right{
        margin: 0 0 20px 0;

        
    }

    .createx-right img {
        max-width: 95%;
        height: auto;
    }
}

@media (max-width: 458px){
    .btn-head {
        margin: 0 80px 0 10px;
    }
    .h1-header {
        font-size: 37px;
    }
    .header-right img:first-child {
        left: -519px;
        top: 33px;
    }
    .header-icon-wrapper{
        flex-direction: column;
    }
    .icon-item{
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }
    .header-icon {
         padding-bottom: 10px;
    }
    .seo-agency-brand{
        grid-template-columns: repeat(2, 174px);
        gap: 10px;
    }
    .figures{
        grid-template-columns: repeat(2, 148px);
    }
    .createx-right img {
        max-width: 73%;
    }
    .header-left, .header-block{
        max-width: 450px;
    }
    .block-btn{
        flex-direction: column;
        gap: 20px;
    }
    .btn-transpenet{
        max-width: 200px;
    }
    createx_wrapper {
        max-width: 450px;
    }
}
@media (max-width: 425px){
    .btn-head {
        padding: 0 8px;
    }
    .h1-header{
        max-width: 380px;
    }
    .header-right img:first-child {
        left: -441px;
        top: 50px;
    }
    .seo-agency-brand{
        display: none;
    }
    .seo-certificate{
        grid-template-columns: repeat(1, 227px);
        align-self: center;
    }
    .createx_wrapper{
        width: 425px;
    }
    .createx-right img{
        max-width: 100%;
    }
    header{
        overflow: hidden;
    }
}
@media (max-width: 419px){

}
@media (max-width: 375px){
    .btn-head {
        position: absolute;
        top: 80px;
        left: 10px;
    }
    .h1-header{
        max-width: 354px;
    }
    .block-btn{
        flex-direction: column;
    }
    .btn-transpenet{
        width: 200px;
    }
    .seo-text {
        font-size: 20px;
    }
}
@media (max-width: 320px){
    .h1-header {
        font-size: 25px;
    }
}